<!doctype html>
<html>
  <head>
    <title>Turnos Ventanilla Única</title>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>css/animate.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>css/style.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href="<%= baseUrl %>css/select2.css" rel="stylesheet"/>

  </head>
  <body>
  <div class="row">
	  <div class="large-12 small-12 columns">
	  	<img src="<%= baseUrl %>img/VU.png" alt="">
  	</div>
  </div>